# Dependency directories
/node_modules/

# Production build
/dist/

# IDE/Editor specific files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build and coverage reports
/coverage/
/.nyc_output/

# Logs
*.log

# Ignore npm-debug.log*
npm-debug.log*
